<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HomeFurnishings</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FlowerServlet</display-name>
    <servlet-name>FlowerServlet</servlet-name>
    <servlet-class>com.dt.servlet.FlowerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlowerServlet</servlet-name>
    <url-pattern>/flower</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WallServlet</display-name>
    <servlet-name>WallServlet</servlet-name>
    <servlet-class>com.dt.servlet.WallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WallServlet</servlet-name>
    <url-pattern>/wall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlowerDerServlet</display-name>
    <servlet-name>FlowerDerServlet</servlet-name>
    <servlet-class>com.dt.servlet.FlowerDerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlowerDerServlet</servlet-name>
    <url-pattern>/flowerDer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DecorationServlet</display-name>
    <servlet-name>DecorationServlet</servlet-name>
    <servlet-class>com.dt.servlet.DecorationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecorationServlet</servlet-name>
    <url-pattern>/decoration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaintOneServlet</display-name>
    <servlet-name>PaintOneServlet</servlet-name>
    <servlet-class>com.dt.servlet.PaintOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaintOneServlet</servlet-name>
    <url-pattern>/paintOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaintTwoServlet</display-name>
    <servlet-name>PaintTwoServlet</servlet-name>
    <servlet-class>com.dt.servlet.PaintTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaintTwoServlet</servlet-name>
    <url-pattern>/paintTwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaintThreeServlet</display-name>
    <servlet-name>PaintThreeServlet</servlet-name>
    <servlet-class>com.dt.servlet.PaintThreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaintThreeServlet</servlet-name>
    <url-pattern>/paintThree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaintFourServlet</display-name>
    <servlet-name>PaintFourServlet</servlet-name>
    <servlet-class>com.dt.servlet.PaintFourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaintFourServlet</servlet-name>
    <url-pattern>/paintFour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerfumeOneServlet</display-name>
    <servlet-name>PerfumeOneServlet</servlet-name>
    <servlet-class>com.dt.servlet.PerfumeOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfumeOneServlet</servlet-name>
    <url-pattern>/perfumeOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerfumeTwoServlet</display-name>
    <servlet-name>PerfumeTwoServlet</servlet-name>
    <servlet-class>com.dt.servlet.PerfumeTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfumeTwoServlet</servlet-name>
    <url-pattern>/perfumeTwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdeaOne1Servlet</display-name>
    <servlet-name>IdeaOne1Servlet</servlet-name>
    <servlet-class>com.dt.servlet.IdeaOne1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdeaOne1Servlet</servlet-name>
    <url-pattern>/ideaOne1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdeaOne2Servlet</display-name>
    <servlet-name>IdeaOne2Servlet</servlet-name>
    <servlet-class>com.dt.servlet.IdeaOne2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdeaOne2Servlet</servlet-name>
    <url-pattern>/ideaOne2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdeaOne3Servlet</display-name>
    <servlet-name>IdeaOne3Servlet</servlet-name>
    <servlet-class>com.dt.servlet.IdeaOne3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdeaOne3Servlet</servlet-name>
    <url-pattern>/ideaOne3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdeaTwo1Servlet</display-name>
    <servlet-name>IdeaTwo1Servlet</servlet-name>
    <servlet-class>com.dt.servlet.IdeaTwo1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdeaTwo1Servlet</servlet-name>
    <url-pattern>/ideaTwo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdeaTwo2Servlet</display-name>
    <servlet-name>IdeaTwo2Servlet</servlet-name>
    <servlet-class>com.dt.servlet.IdeaTwo2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdeaTwo2Servlet</servlet-name>
    <url-pattern>/ideaTwo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdeaThree1Servlet</display-name>
    <servlet-name>IdeaThree1Servlet</servlet-name>
    <servlet-class>com.dt.servlet.IdeaThree1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdeaThree1Servlet</servlet-name>
    <url-pattern>/ideaThree1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdeaThree2Servlet</display-name>
    <servlet-name>IdeaThree2Servlet</servlet-name>
    <servlet-class>com.dt.servlet.IdeaThree2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdeaThree2Servlet</servlet-name>
    <url-pattern>/ideaThree2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Flower2Servlet</display-name>
    <servlet-name>Flower2Servlet</servlet-name>
    <servlet-class>com.dt.servlet.Flower2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Flower2Servlet</servlet-name>
    <url-pattern>/flower2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Wall2Servlet</display-name>
    <servlet-name>Wall2Servlet</servlet-name>
    <servlet-class>com.dt.servlet.Wall2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wall2Servlet</servlet-name>
    <url-pattern>/wall2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Wall3Servlet</display-name>
    <servlet-name>Wall3Servlet</servlet-name>
    <servlet-class>com.dt.servlet.Wall3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wall3Servlet</servlet-name>
    <url-pattern>/wall3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaleServlet</display-name>
    <servlet-name>SaleServlet</servlet-name>
    <servlet-class>com.dt.servlet.SaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleServlet</servlet-name>
    <url-pattern>/sale</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AllFilter</display-name>
    <filter-name>AllFilter</filter-name>
    <filter-class>com.dt.filter.AllFilter</filter-class>
    <init-param>
      <param-name>setEncoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AllFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ZorderServlet</display-name>
    <servlet-name>ZorderServlet</servlet-name>
    <servlet-class>com.dt.servlet.ZorderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZorderServlet</servlet-name>
    <url-pattern>/zorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.dt.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OkServlet</display-name>
    <servlet-name>OkServlet</servlet-name>
    <servlet-class>com.dt.servlet.OkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OkServlet</servlet-name>
    <url-pattern>/ok</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZcartServlet</display-name>
    <servlet-name>ZcartServlet</servlet-name>
    <servlet-class>com.dt.servlet.ZcartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZcartServlet</servlet-name>
    <url-pattern>/zcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.dt.servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/addCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelShoppingServlet</display-name>
    <servlet-name>DelShoppingServlet</servlet-name>
    <servlet-class>com.dt.servlet.DelShoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelShoppingServlet</servlet-name>
    <url-pattern>/delShopping</url-pattern>
  </servlet-mapping>
</web-app>